#root, html, body {
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  }

#grad {
  height: 1000px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #21E1E1, #3120E0);
}

a {
  text-decoration: none !important;
}

.btn-main {
  background-color: #3120E0;
  color: white !important;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-delete {
  background-color: #ff1d4e;
  color: white !important;
  padding-left: 30px;
  padding-right: 30px;
}


.btn-outline {
  border: 1px solid #3120E0;
  color: #3120E0;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-main:hover,
.btn-outline:hover,
.btn-delete:hover {
  background-color: #21E1E1;
  color: white !important;
}


/* HOME PAGE STYLING */
.animate__hinged {
  animation-duration: 3s;
}


/* FOOTER STYLING: CLEAN */
.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social>a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social>a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social>a {
    margin-top: 10px;
  }

  .footer-clean {

    display: flex;
    justify-content: center;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.completed {
  opacity: 50%;

}

